
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h4>Want to Create an account, <a href="@Url.Action("Create","User")">Click here</a></h4>
<h4>Want to login? or log in?, <a href="@Url.Action("Login","User")">Click here</a></h4>