
@{
    ViewBag.Title = "CreateBudget";
    Layout = null;
}



<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Create Budget</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="ThemeDesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Sweet Alert -->
    
    <link href="~/Content/vertical/assets/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/vertical/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/vertical/assets/css/icons.css" rel="stylesheet" />
    <link href="~/Content/vertical/assets/css/style.css" rel="stylesheet" />
</head>


<body class="fixed-left">

    <!-- Loader -->
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                <i class="ion-close"></i>
            </button>

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <!--<a href="index.html" class="logo">Admiry</a>-->
                    <a href="index.html" class="logo"><img src="~/Content/vertical/assets/images/logo.png" height="24" alt="logo"></a>

                </div>
            </div>

            <div class="sidebar-inner slimscrollleft">

                <div class="user-details">
                    <div class="text-center">
                        <img src="~/Content/vertical/assets/images/users/avatar-6.jpg" alt="" class="rounded-circle">

                    </div>
                    <div class="user-info">
                        <h4 class="font-16">Welcome @User.Identity.Name</h4>
                        <span class="text-muted user-status"><i class="fa fa-dot-circle-o text-success"></i> Online</span>
                    </div>
                </div>

                <div id="sidebar-menu">
                    <ul>
                        <li>
                            <a href="index.html" class="waves-effect">
                                <i class="ti-home"></i>
                                <span> Dashboard @*<span class="badge badge-primary pull-right">3</span>*@</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div> <!-- end sidebarinner -->
        </div>
        <!-- Left Sidebar End -->
        <!-- Start right Content here -->

        <div class="content-page">
            <!-- Start content -->
            <div class="content">

                <!-- Top Bar Start -->
                <div class="topbar">

                    <nav class="navbar-custom">

                        <ul class="list-inline float-right mb-0">
                            @*<li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="mdi mdi-email-outline noti-icon"></i>
                            <span class="badge badge-danger noti-icon-badge">5</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5><span class="badge badge-danger float-right">745</span>Messages</h5>
                            </div>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon"><img src="~/Content/vertical/assets/images/users/avatar-2.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                                <p class="notify-details"><b>Charles M. Jones</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon"><img src="assets/images/users/avatar-3.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                                <p class="notify-details"><b>Thomas J. Mimms</b><small class="text-muted">You have 87 unread messages</small></p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon"><img src="assets/images/users/avatar-4.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                                <p class="notify-details"><b>Luis M. Konrad</b><small class="text-muted">It is a long established fact that a reader will</small></p>
                            </a>

                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                View All
                            </a>

                        </div>
                    </li>*@

                            @*<li class="list-inline-item dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <i class="mdi mdi-bell-outline noti-icon"></i>
                        <span class="badge badge-success noti-icon-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                        <!-- item-->
                        <div class="dropdown-item noti-title">
                            <h5><span class="badge badge-danger float-right">87</span>Notification</h5>
                        </div>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                            <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-success"><i class="mdi mdi-message"></i></div>
                            <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-warning"><i class="mdi mdi-martini"></i></div>
                            <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
                        </a>

                        <!-- All-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            View All
                        </a>

                    </div>*@
                            @*</li>*@


                            <li class="list-inline-item dropdown notification-list">

                                <div class="text-center">
                                    @*<p class="text-muted">Center modal</p>*@
                                    <!-- Small modal -->
                                    <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-center">Add</button>
                                </div>

                                <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title mt-0">Center modal</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="" action="#" onsubmit="return false">
                                                    <div class="form-group">
                                                        <label>For example, transport</label>
                                                        <input id="description" type="text" class="form-control" required placeholder="Description..." />
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Amount</label>
                                                        <div>
                                                            <input id="amount" data-parsley-type="number" type="number"
                                                                   class="form-control" required
                                                                   placeholder="Enter Amount" />
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div>
                                                            <button type="submit" class="btn btn-primary waves-effect waves-light" onclick="">
                                                                Submit
                                                            </button>

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </li>

                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <img src="~/Content/vertical/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">

                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    @*<a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5 text-muted"></i> Profile</a>
                            <a class="dropdown-item" href="#"><span class="badge badge-success pull-right">5</span><i class="mdi mdi-settings m-r-5 text-muted"></i> Settings</a>
                            <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5 text-muted"></i> Lock screen</a>*@
                                    <a class="dropdown-item" href="@Url.Action("LogOut","User")"><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</a>
                                </div>
                            </li>


                        </ul>

                        <ul class="list-inline menu-left mb-0">
                            <li class="list-inline-item">
                                <button type="button" class="button-menu-mobile open-left waves-effect">
                                    <i class="ion-navicon"></i>
                                </button>
                            </li>
                            <li class="hide-phone list-inline-item app-search">
                                <h3 class="page-title">Dashboard</h3>
                            </li>
                        </ul>

                        <div class="clearfix"></div>

                    </nav>

                </div>
                <!-- Top Bar End -->

                <div class="page-content-wrapper ">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-20">
                                    <div class="card-body">

                                        <h4 class="mt-0 header-title">Hello @User.Identity.Name</h4>
                                        <p class="text-muted m-b-30 font-14">
                                           Welcome to Budget App, kindly fill the form below to help manage your finances
                                        </p>

                                        <div class="row text-center">
                                      
                                            <div class="col-xs-6 col-sm-3 m-b-30">
                                                <p class="text-muted">Click button to take quick survey</p>
                                                <button type="button" class="btn btn-primary waves-effect waves-light" id="chaining-alert">Click me</button>
                                            </div>
                                          

                                        </div> <!-- end row -->

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                    </div><!-- container -->


                </div> <!-- Page content Wrapper -->

            </div> <!-- content -->

            <footer class="footer">
                © 2018 Iyke_Development
            </footer>

        </div>
        <!-- End Right content here -->

    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="~/Content/vertical/assets/js/jquery.min.js"></script>
    <script src="~/Content/vertical/assets/js/popper.min.js"></script>
    <script src="~/Content/vertical/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/vertical/assets/js/modernizr.min.js"></script>
    <script src="~/Content/vertical/assets/js/detect.js"></script>
    <script src="~/Content/vertical/assets/js/fastclick.js"></script>
    <script src="~/Content/vertical/assets/js/jquery.slimscroll.js"></script>
    <script src="~/Content/vertical/assets/js/jquery.blockUI.js"></script>
    <script src="~/Content/vertical/assets/js/waves.js"></script>
    <script src="~/Content/vertical/assets/js/jquery.nicescroll.js"></script>
    <script src="~/Content/vertical/assets/js/jquery.scrollTo.min.js"></script>

    <!-- Sweet-Alert  -->
    <script src="~/Content/vertical/assets/plugins/sweet-alert2/sweetalert2.min.js"></script>
    <script src="~/Content/vertical/assets/pages/sweet-alert.init.js"></script>

    <!-- App js -->
    <script src="~/Content/vertical/assets/js/app.js"></script>

</body>

</html>